apiVersion: v1
kind: Service
metadata:
  name: search-service-service
  labels:
    app: search-service
spec:
  type: LoadBalancer
  selector:
    app: search-service
  ports:
    - protocol: TCP
      port: 8083
      targetPort: 8083
      nodePort: 30084